<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">{{vm.popupHeaderText}} Client</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="form.Client">
            <fieldset>
                <div class="form-group">
                    <label class="col-md-3 control-label">Id</label>
                    <div class="col-md-9"
                         ng-class="{ 'has-error' : form.Client.ctrlClientId.$invalid && !form.Client.ctrlClientId.$pristine }">
                        <input type="text" class="form-control"
                               ng-maxlength="100"
                               name="ctrlClientId"
                               placeholder="Please enter client id..." ng-model="vm.client.clientId"
                               required ng-disabled="isEdit" />
                        <div class="error-group">
                            <div ng-show="form.Client.ctrlClientId.$invalid && !form.Client.ctrlClientId.$pristine">
                                <p class="help-block" ng-show="form.Client.ctrlClientId.$error.required">Client id is required.</p>
                                <p class="help-block" ng-show="form.Client.ctrlClientId.$error.maxlength">Client id is too long.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-hide="isEdit">
                    <label class="col-md-3 control-label">Secret</label>
                    <div class="col-md-9"
                         ng-class="{ 'has-error' : form.Client.ctrlSecret.$invalid && !form.Client.ctrlSecret.$pristine }">
                        <input type="text" class="form-control"
                               name="ctrlSecret"
                               placeholder="Please enter secret..." ng-model="vm.client.secret"
                               required />
                        <div class="error-group">
                            <div ng-show="form.Client.ctrlSecret.$invalid && !form.Client.ctrlSecret.$pristine">
                                <p class="help-block" ng-show="form.Client.ctrlSecret.$error.required">Client secret is required.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Description</label>
                    <div class="col-md-9"
                         ng-class="{ 'has-error' : form.Client.ctrlDescription.$invalid && !form.Client.ctrlDescription.$pristine }">
                        <input type="text" class="form-control"
                               ng-maxlength="100"
                               name="ctrlDescription"
                               placeholder="Please enter description..." ng-model="vm.client.description"
                               required />
                        <div class="error-group">
                            <div ng-show="form.Client.ctrlDescription.$invalid && !form.Client.ctrlDescription.$pristine">
                                <p class="help-block" ng-show="form.Client.ctrlDescription.$error.required">Description is required.</p>
                                <p class="help-block" ng-show="form.Client.ctrlDescription.$error.maxlength">Description is too long.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Application Type</label>
                    <div class="col-md-9"
                         ng-class="{ 'has-error' : form.Client.ctrlApplicationType.$invalid && !form.Client.ctrlApplicationType.$pristine }">
                        <select class="form-control"
                                name="ctrlApplicationType"
                                ng-model="vm.client.applicationType"
                                ng-options="applicationType as applicationType.description for applicationType in vm.applicationTypes"
                                required>
                            <option value="">-- Select Application Type --</option>
                        </select>
                        <div class="error-group">
                            <div ng-show="form.Client.ctrlApplicationType.$invalid && !form.Client.ctrlApplicationType.$pristine">
                                <p class="help-block" ng-show="form.Client.ctrlApplicationType.$error.required">Application Type is required.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Access Token Expire Time</label>
                    <div class="col-md-9"
                         ng-class="{ 'has-error' : form.Client.ctrlAccessTokenExpireTime.$invalid && (!form.Client.ctrlAccessTokenExpireTime.$pristine || isEdit) }">
                        <input type="number" class="form-control"
                               name="ctrlAccessTokenExpireTime"
                               placeholder="Please enter access token expire time in minutes..." ng-model="vm.client.accessTokenExpireTime"
                               required min="1"
                               lower-than="{{vm.client.refreshTokenLifeTime}}" />
                        <div class="error-group">
                            <div ng-show="form.Client.ctrlAccessTokenExpireTime.$invalid && !form.Client.ctrlAccessTokenExpireTime.$pristine">
                                <p class="help-block" ng-show="form.Client.ctrlAccessTokenExpireTime.$error.required">Access token expire time is required.</p>
                                <p class="help-block" ng-show="form.Client.ctrlAccessTokenExpireTime.$error.number">Access token expire time must be a number.</p>
                                <p class="help-block" ng-show="form.Client.ctrlAccessTokenExpireTime.$error.min">Access token expire time min is 1.</p>
                            </div>
                            <div ng-show="form.Client.ctrlAccessTokenExpireTime.$invalid && (!form.Client.ctrlAccessTokenExpireTime.$pristine || isEdit)">
                                <p class="help-block" ng-show="form.Client.ctrlAccessTokenExpireTime.$error.lowerThan"> Access token expire time must be lower than refresh token life time.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Refresh Token Life Time</label>
                    <div class="col-md-9"
                         ng-class="{ 'has-error' : form.Client.ctrlRefreshTokenLifeTime.$invalid && !form.Client.ctrlRefreshTokenLifeTime.$pristine }">
                        <input type="number" class="form-control"
                               name="ctrlRefreshTokenLifeTime"
                               placeholder="Please enter refresh token life time in minutes..." ng-model="vm.client.refreshTokenLifeTime"
                               required min="2" />
                        <div class="error-group">
                            <div ng-show="form.Client.ctrlRefreshTokenLifeTime.$invalid && !form.Client.ctrlRefreshTokenLifeTime.$pristine">
                                <p class="help-block" ng-show="form.Client.ctrlRefreshTokenLifeTime.$error.required">Refresh token life time is required.</p>
                                <p class="help-block" ng-show="form.Client.ctrlRefreshTokenLifeTime.$error.number">Refresh token life time must be a number.</p>
                                <p class="help-block" ng-show="form.Client.ctrlRefreshTokenLifeTime.$error.min">Refresh token life time min is 2.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Allowed Origin</label>
                    <div class="col-md-9"
                         ng-class="{ 'has-error' : form.Client.ctrlAllowedOrigin.$invalid && !form.Client.ctrlAllowedOrigin.$pristine }">
                        <input type="text" class="form-control"
                               ng-maxlength="100"
                               name="ctrlAllowedOrigin"
                               placeholder="Please enter allowed origin..." ng-model="vm.client.allowedOrigin"
                               required />
                        <div class="error-group">
                            <div ng-show="form.Client.ctrlAllowedOrigin.$invalid && !form.Client.ctrlAllowedOrigin.$pristine">
                                <p class="help-block" ng-show="form.Client.ctrlAllowedOrigin.$error.required">Allowed origin is required.</p>
                                <p class="help-block" ng-show="form.Client.ctrlAllowedOrigin.$error.maxlength">Allowed origin is too long.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Is Active</label>
                    <div class="col-md-9 form-control-static">
                        <input type="checkbox" name="ctrlIsActive" ng-model="vm.client.isActive" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="vm.ok()" data-ng-disabled="form.Client.$invalid" id="btnOkAddClientPopUp">{{vm.popupOkText}}</button>
        <button class="btn btn-warning" ng-click="vm.cancel()" id="btnCloseAddClientPopUp">Close</button>
    </div>
</div>