<div class="app_containter">
    <div class="container">
        <div class="row">
            <h2>Proyecto de Fin de Carrera "Un Servidor de Autorización OAuth 2.0"</h2>
        </div>
        <div class="row">
            <h3>Herramienta de administración</h3>
        </div>
        <div class="row">
            <h4>Autor: Juan Alberto Muñoz Rodríguez</h4>
        </div>
        <div class="row">
            <h4>Tutor: Antonio Jesús Nebro Urbaneja</h4>
        </div>
    </div>
</div>