@using System.Web.Optimization;
@using System.Linq;
@using System.Configuration;
@using System.Collections;
@using System.Collections.Specialized;
@using Espa.Angular.Extensions;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @*@Styles.Render("~/Content/sitecss")*@
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@Scripts.Render("~/bundles/angular")*@
    @*@Scripts.Render("~/bundles/angularapp")*@

    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/scripts/jquery-2.1.1.min.js"></script>
    <script src="~/scripts/linq.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/angularjs.min.js"></script>
    <script src="~/app/angularapp.js"></script>

    <!--ng-infinite-scroll-->
    <script src="~/Scripts/ng-infinite-scroll.min.js"></script>

    <!--WebApi-->
    <script src="~/appNugets/Jumuro.Angular.WebApi/webapi.1.0.0.1.js"></script>
    <script src="~/appNugets/Jumuro.Angular.WebApi/constants/appConfigConstants.js"></script>
    <script src="~/app/constants/nugets/Jumuro.Angular.WebApi/webapiConstants.js"></script>
    @*CRUD REST*@
    <script src="~/appNugets/Jumuro.Angular.CrudREST/bundle/crudResTBundle.1.0.0.1.js"></script>
    @*Http Interceptor*@
    <script src="~/appNugets/Jumuro.Angular.HttpInterceptor/blundle/httpInterceptorBundle.1.0.0.1.js"></script>
    @*OAuth*@
    <script src="~/appNugets/Jumuro.Angular.OAuth/bundles/oauth.1.0.0.1.js"></script>
    <script src="~/appNugets/Jumuro.Angular.OAuth/constants/appConfigConstants.js"></script>
    @*Spinner*@
    <script src="~/appNugets/Jumuro.Angular.Spinner/bundle/spinnerBundle.1.0.0.1.js"></script>
    @*Modal*@
    <script src="~/appNugets/Jumuro.Angular.Modal/bundle/modalBundle.1.0.0.1.js"></script>
    @*Grid*@
    <script src="~/appNugets/Jumuro.Angular.Grid/bundle/gridBundle.1.0.0.1.js"></script>
    @*Validations*@
    <script src="~/appNugets/Jumuro.Angular.Validations/bundle/validationDirectives.1.0.0.1.js"></script>

    <script src="~/Scripts/moment.min.js"></script>
    
    <!--Error Handling-->
    @*<script src="~/Scripts/stacktrace.js"></script>
    <script src="~/appNugets/Espa.Angular.ErrorHandling/bundle/errorHandlingBundle.1.0.0.6.js"></script>*@
    @*Toaster*@
    <script src="~/scripts/toaster.js"></script>

    <script src="~/scripts/angular-filter.js"></script>
</head>
<body ng-app="app" ng-controller="AppController">
    <toaster-container toaster-options="{'time-out': 5000, 'body-output-type': 'trustedHtml',  'position-class': 'toast-bottom-right'}"></toaster-container>
    <div id="wrapper">
        <div id="box">
            <div ng-view class="container main">

            </div>

            <jumuro-spinner></jumuro-spinner>
        </div>
    </div>
</body>
</html>
