

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<!-- HEADER -->
<header class="navbar navbar-default navbar-fixed-top" id="header">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-header col-sm-3">
                <button data-target=".navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <table ng-show="$root.levelTree && $root.levelTree.length > 0">
                    <tr>
                        <td style="padding:5px;" ng-repeat="level in $root.levelTree">
                            <p class="navbar-text apptitle">
                                <span style="padding-left:4px" ng-bind="level.title"></span>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            <nav class="navbar-collapse collapse" style="height: 1px;">
                <ul class="nav navbar-nav navbar-right infobar">
                    <li class="environment">
                        <a>
                            {{environment}}
                        </a>
                    </li>
                    <li class="hidden-xs">
                        <a title="Refresh" href="" class="refresh"><span class="icon-refresh-header" ng-click="resetAuthService()"></span></a>
                    </li>
                    <li class="dropdown user">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <div class="username">
                                {{fullName}}
                            </div>
                        </a>
                        <ul class="dropdown-menu pull-right user-dropdown col-md-10">
                            <li class="dropdown-header">
                                <i class="fa fa-users padding_right"></i> Your roles:
                            </li>
                            <li ng-repeat="role in roles">
                                <label ng-bind="role"></label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- FIN HEADER -->
<!-- SIDEBAR -->
<div id="sidebar-wrapper">
    <div role="navigation" id="sidebar" class="" ng-init="initialize()">
        <!--sidebar contents -->
        <!--toggle arrow-->
        <ul class="nav">
            <li>
                <div class="sidebar-toggle text-right shortcuts-icons" data-target="#sidebar-wrapper" data-toggle="offcanvas">
                    <i class="icon-pin"></i>
                </div>
            </li>
        </ul>
        <!--large screen nav (menu-items)-->
        <ul id="menuLg" class="level0 nav">
            <li ng-repeat="level in levelList |orderBy:'name'" intranet-spinner>
                <a href="" ng-click="showSubLevel(level)">
                    <i class="{{level.icon}}"></i>
                    <span ng-bind="level.name"></span>
                </a>
                <div ng-show="level.showSubLevel" class="level1 displaySubMenu" collapse="collapseMenu">
                    <div ng-repeat="(key, value) in level.childs | groupBy: 'categoryTitle' | toArray:true | orderBy: '$key'">
                        <div class="grouptitle">
                            <i class="{{value[0].categoryIcon}}"></i>{{value[0].categoryTitle}}
                        </div>
                        <ul>
                            <li class="items" ng-repeat="item in value|orderBy:'name'">
                                <a href="" ng-class="{'noflyout': isNoFlyOut(item)}" ng-click="showSubLevel(item)">
                                    {{item.name}}
                                </a>
                                <div ng-show="item.showSubLevel" class="level2 displaySubMenu">
                                    <div ng-repeat="(key, value) in item.childs | groupBy: 'categoryTitle' | toArray:true | orderBy: '$key'">
                                        <div class="grouptitle">
                                            <i class="{{value[0].categoryIcon}}"></i>{{value[0].categoryTitle}}
                                        </div>
                                        <ul>
                                            <li class="items" ng-repeat="item in value|orderBy:'name'">
                                                <a href="{{item.href}}"
                                                   ng-class="{'noflyout': isNoFlyOut(item)}"
                                                   ng-click="selectPage(item)">
                                                    {{item.name}}
                                                </a>
                                                <ul ng-if="item.childs">
                                                    <li class="level{{item.categoryLevel}}"
                                                        ng-repeat="itemCategory in item.menuCategories"
                                                        ng-include="categoryTemplate.hmtl">
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- FIN SIDEBAR -->

<script type="text/javascript">

    $(document).ready(function () {

        /* off-canvas sidebar toggle */

        $('[data-toggle=offcanvas]').click(function () {
            $('#wrapper').toggleClass("active");
            $(this).find('i').toggleClass("icon-pin icon-unpin");
            //$(this).toggleClass('visible-xs text-center');
            $('.row-offcanvas').toggleClass('active');
            $('#btnShow').toggle();
        });


    });
</script>
