<div class="app_containter">
    <div class="container text-center">
        <div class="row text-center">
            <h2>UNIVERSIDAD DE MÁLAGA</h2>
        </div>
        <div class="row">
            <h2>ESCUELA TÉCNICA SUPERIOR DE INGENIERÍA INFORMÁTICA</h2>
        </div>
        <div class="row">
            <h2>INGENIERO TÉCNICO EN INFORMÁTICA DE GESTIÓN</h2>
        </div>
        <div class="row">
            <h2>Un Servidor de Autorización OAuth 2.0</h2>
        </div>
        <div class="row">
            <h3>Herramienta de administración</h3>
        </div>
        <div class="row">
            <div class="row">
                <h4>Realizado por</h4>
            </div>
            <div class="row">
                <h4>Juan Alberto Muñoz Rodríguez</h4>
            </div>
        </div>
        <div>
            <div class="row">
                <h4>Dirigido por</h4>
            </div>
            <div class="row">
                <h4>Antonio Jesús Nebro Urbaneja</h4>
            </div>
        </div>
        <div>
            <div class="row">
                <h4>Departamento</h4>
            </div>
            <div class="row">
                <h4>Lenguajes y Ciencias de la Computación</h4>
            </div>
        </div>
        <div class="row text-right">
            <h4>MÁLAGA, 16 de diciembre de 2015</h4>
        </div>
    </div>
</div>