<div class="modal-header dialog-header-confirm">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title ng-binding modelheader">
        <span class="glyphicon glyphicon-check"></span> {{headerText}}
    </h4>
</div>
<div class="modal-body ng-binding">
    <p>
        <h4 ng-bind="message"></h4>
    </p>
    <div class="display_table">
        <div class="display_tablerow" ng-repeat="detail in details">
            <div class="form-inline">
                <label ng-bind="detail.name"></label>:
                <span ng-bind="detail.value"></span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">{{buttons.ok}}</button>
    <button type="button" class="btn btn-primary" ng-click="cancel()">{{buttons.cancel}}</button>
</div>