<div class="modal-header dialog-header-notify">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 class="modal-title text-info ng-binding modelheader">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <span ng-bind="headerText" class="leftpad"></span>
    </h4>
</div>
<div class="modal-body text-info ng-binding">
    <h4 ng-bind="message"></h4>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ok()">{{buttons.ok}}</button>
</div>