<div class="full text-center" style="padding-top:100px;">
    <div class="inline-block">
        <div class="display_tablecell">
            <button class="btn btn-default full fa-2x" espa-link="/home">
                <div class="display_table full">
                    <div class="display_tablecell" style="width:25%;">
                        <i class="fa fa-home"></i>
                    </div>
                    <div class="display_tablecell text-left" style="width:75%;">
                        Go back to Dashboard 
                    </div>
                </div>
            </button>
        </div>
        <div class="display_tablecell">
            <button class="btn btn-default fa-2x" style="" ng-click="resetAuthService()">
                <div class="display_table full">
                    <div class="display_tablecell" style="width:25%;">
                        <i class="fa fa-refresh"></i>
                    </div>
                    <div class="display_tablecell text-left" style="width:75%;">
                        Update your permissions
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>
