<div>
    <div infinite-scroll="loadMore()" infinite-scroll-distance="infiniteScroll.distance" infinite-scroll-disabled="!infiniteScroll.isActive">
        <table class="table table-striped col-md-12">
            <thead>
                <tr>
                    <th ng-repeat="column in gridOptions.columnList">
                        <table>
                            <td style="white-space:nowrap;width: 12px; padding: 0 4px 0 0; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; ">
                                <u ng-if="(column.isOrder === undefined || column.isOrder)">
                                    <span ng-bind="column.header" class="pointer"
                                          ng-click="sortBy(column)"></span>
                                </u>
                                <span ng-if="!(column.isOrder === undefined || column.isOrder)" ng-bind="column.header" ng-click="sortBy(column)"></span>
                            </td>
                            <td style="width:12px;padding:0 4px 0 0;">
                                <i ng-show="isColumnOrdered(column)"
                                   ng-class="{ 'fa fa-sort-asc' : !reverse, 'fa fa-sort-desc' : reverse}"></i>
                            </td>
                            <td style="width:12px;padding:0 4px 0 0;">
                                <button type="button"
                                        id="{{column.name}}"
                                        ng-show="isColumnFilter(column)"
                                        ng-click="openColumnFilter(column, $index)"
                                        ng-class="{ 'btn btn-xs btn-warning' : columnIsFiltered($index), 'btn btn-xs btn-default' : !columnIsFiltered($index)}"
                                        title="Filter by {{column.header}}"
                                        data-template="./appNugets/Espa.Angular.Grid/templates/popoverFilterTemplate.html?=v1"
                                        data-animation="am-flip-x"
                                        data-placement="bottom-left"
                                        bs-popover
                                        espa-onepopover>
                                    <i class="fa fa-filter"></i>
                                </button>
                            </td>
                        </table>
                    </th>
                    <th ng-show="isCrud">
                        <a id="btnInsert" class="btn btn-primary btn-xs" ng-show="isCrudInsert"
                           ng-click="gridOptions.crudOptions.insert.method()"
                           espa-display
                           espa-displayroute="{{gridOptions.crudOptions.insert.security.route}}"
                           espa-displayaction="{{gridOptions.crudOptions.insert.security.action}}">
                            <span class="fa fa-plus"></span> New
                        </a>
                    </th>
                </tr>
            </thead>
            <tr ng-class="{'animate-repeat-filter': gridOptions.animate}" ng-show="showGrid()"
                ng-repeat="data in dataListFiltered = gridOptions.dataList | limitTo: getLimit()">
                <td ng-repeat="column in gridOptions.columnList" style="width:{{column.width}}"><span ng-bind="data.{{column.name}}"></span></td>
                <td ng-show="isCrud">
                    <a id="btnEdit" class='btn btn-info btn-xs' ng-show="isCrudEdit"
                       ng-click="gridOptions.crudOptions.edit.method(data)"
                       espa-display
                       espa-displayroute="{{gridOptions.crudOptions.edit.security.route}}"
                       espa-displayaction="{{gridOptions.crudOptions.edit.security.action}}">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </a>
                    <a id="btnDelete" class="btn btn-danger btn-xs" ng-show="isCrudDelete"
                       ng-click="gridOptions.crudOptions.delete.method(data)"
                       espa-display
                       espa-displayroute="{{gridOptions.crudOptions.delete.security.route}}"
                       espa-displayaction="{{gridOptions.crudOptions.delete.security.action}}">
                        <span class="glyphicon glyphicon-remove"></span> Del
                    </a>
                </td>
            </tr>
        </table>
        <div style='clear: both;'></div>
    </div>
    <div style="width:100%" ng-hide="showGrid()">
        <span ng-bind="gridOptions.noDataMessage" style="font-weight:bold;font-size:18px;"></span>
    </div>
    <div style='clear: both;'></div>
</div>